@font-face {
  font-family: "iconfont"; /* Project id 3193846 */
  src: url('//at.alicdn.com/t/font_3193846_hqynt453iit.woff2?t=1645958076999') format('woff2'),
       url('//at.alicdn.com/t/font_3193846_hqynt453iit.woff?t=1645958076999') format('woff'),
       url('//at.alicdn.com/t/font_3193846_hqynt453iit.ttf?t=1645958076999') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youjiantou:before {
  content: "\e61e";
}

.icon-resou:before {
  content: "\e635";
}

.icon-sousuo:before {
  content: "\e634";
}

.icon-wode:before {
  content: "\e67a";
}
